$background-color: #282a36;
$current-line-color: #44475a;
$selection-color: #44475a;
$foreground-color: #f8f8f2;
$comment-color: #6272a4;
$cyan-color: #8be9fd;
$green-color: #50fa7b;
$orange-color: #ffb86c;
$pink-color: #ff79c6;
$purple-color: #bd93f9;
$red-color: #ff5555;
$yellow-color: #f1fa8c;
