@import "./colors";

.editor-layer {
  background: $background-color;
  caret-color: $foreground-color;
  &:disabled {
    background: rgba($comment-color, 0.1);
    cursor: not-allowed;
  }
}

.highlight-layer {
  color: $foreground-color;
}

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

@mixin highlight($weight, $color) {
  background: $color;
  box-shadow: 0 $weight 0 0 $color; /* Border bottom */
  box-shadow: 0 -$weight 0 0 $color; /* Border top */
  box-shadow: -$weight 0 0 0 $color; /* Border left */
  box-shadow: $weight 0 0 0 $color; /* Border right */
  box-shadow: 0 0 0 $weight $color; /* All the borders by using the spread properties */
}

.hljs-comment,
.hljs-quote {
  color: $comment-color;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: $red-color;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
  color: $orange-color;
}

.hljs-attribute,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-code,
.hljs-meta {
  color: $yellow-color;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: $pink-color;
}

.hljs-bullet {
  font-weight: bold;
}

.hljs-title,
.hljs-section {
  color: $green-color;
  font-weight: bold;
}

.hljs-keyword,
.hljs-selector-tag {
  color: $purple-color;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: $foreground-color;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.marked-list {
  &:not(.checked) .button-checkbox {
    color: $purple-color;
  }

  &.checked {
    text-decoration: line-through;
    opacity: 0.5;
    color: $comment-color;
  }
}

.strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
  color: $comment-color;
}

.inline-tag {
  opacity: 0.8;
  background: $cyan-color;
  color: $background-color;
  border-radius: 3px;
  @include highlight(2px, $cyan-color);
}

.inline-priority {
  opacity: 0.8;
  border-radius: 3px;
  &.high {
    color: $background-color;
    @include highlight(2px, $red-color);
  }
  &.medium {
    color: $background-color;
    @include highlight(2px, $orange-color);
  }
  &.low {
    color: $background-color;
    @include highlight(2px, $yellow-color);
  }
}

.button-checkbox {
  pointer-events: auto;
  user-select: none;
  cursor: pointer;
  &:hover {
    $hover-bgcolor: rgba($comment-color, 0.2);
    @include highlight(2px, $hover-bgcolor);
  }
}

.inline-url {
  pointer-events: auto;
  border-radius: 3px;
  color: $purple-color;
  $bgcolor: rgba($comment-color, 0.2);
  @include highlight(2px, $bgcolor);
  text-decoration: none;
  &:hover {
    $hover-bgcolor: rgba($comment-color, 0.1);
    @include highlight(2px, $hover-bgcolor);
  }
}
